<h1>Eat the burger!</h1>

<h2>Burgers ready to eat:</h2>

<ul>
  {{#each burgers}}

  {{/each}}
</ul>

<h2>Burgers that have been DEVOURED:</h2>

<ul>
  {{#each burgers}}

  {{/each}}
</ul>

<h2>Add a Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" class="burger-name" id="ca" name="name">
  </div>

  <button class="submit-button" type="submit">Add Burger</button>
  <a href="api/burgers">Burger Data</a>
</form>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/public/assets/burger.js"></script>